USE [master]
GO
/****** Object:  Database [MVC_Licencias.Models.Multas]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE DATABASE [MVC_Licencias.Models.Multas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC_Licencias.Models.Multas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MVC_Licencias.Models.Multas.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVC_Licencias.Models.Multas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MVC_Licencias.Models.Multas_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVC_Licencias.Models.Multas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVC_Licencias.Models.Multas]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Agentes]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agentes](
	[Codido_Agente] [nvarchar](11) NOT NULL,
	[Rango] [int] NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Agentes] PRIMARY KEY CLUSTERED 
(
	[Codido_Agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Antecedentes]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Antecedentes](
	[AntecedenteId] [bigint] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](11) NOT NULL,
	[Placa] [nvarchar](7) NOT NULL,
	[Evento] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Tipo_Infraccion] [smallint] NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Codigo_Agente] [nvarchar](11) NOT NULL,
	[Pagado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Antecedentes] PRIMARY KEY CLUSTERED 
(
	[AntecedenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ciudadanos]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudadanos](
	[Cedula] [nvarchar](11) NOT NULL,
	[Ocupacion] [nvarchar](max) NULL,
	[suspender] [bit] NOT NULL,
	[Conteo] [tinyint] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Ciudadanos] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Infracciones]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infracciones](
	[InfraccionId] [smallint] IDENTITY(1,1) NOT NULL,
	[Tipo_Infraccion] [nvarchar](85) NOT NULL,
	[Leyes] [nvarchar](35) NOT NULL,
	[Monto] [smallint] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Infracciones] PRIMARY KEY CLUSTERED 
(
	[InfraccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Licencias]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licencias](
	[Categoria] [smallint] NOT NULL,
	[Descripcion] [nvarchar](52) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Licencias] PRIMARY KEY CLUSTERED 
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Multas]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multas](
	[Evento] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Cedula] [nvarchar](11) NOT NULL,
	[Placa] [nvarchar](7) NOT NULL,
	[Tipo_Infraccion] [smallint] NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Codigo_Agente] [nvarchar](11) NOT NULL,
	[Pagado] [bit] NOT NULL,
	[F_Modificacion] [datetime] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Multas] PRIMARY KEY CLUSTERED 
(
	[Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personas]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Cedula] [nvarchar](11) NOT NULL,
	[Nombre] [nvarchar](35) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Nacimiento] [datetime] NOT NULL,
	[Genero] [int] NOT NULL,
	[Licencia] [bit] NOT NULL,
	[Categoria] [smallint] NOT NULL,
	[SangreTipo] [nvarchar](3) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Telefono] [bigint] NOT NULL,
	[Celular] [bigint] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Personas] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relacionados]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relacionados](
	[Principal] [nvarchar](128) NOT NULL,
	[Contacto] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Relacionados] PRIMARY KEY CLUSTERED 
(
	[Principal] ASC,
	[Contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RelacionadosPersonas]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelacionadosPersonas](
	[Relacionados_Principal] [nvarchar](128) NOT NULL,
	[Relacionados_Contacto] [nvarchar](128) NOT NULL,
	[Persona_Cedula] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_dbo.RelacionadosPersonas] PRIMARY KEY CLUSTERED 
(
	[Relacionados_Principal] ASC,
	[Relacionados_Contacto] ASC,
	[Persona_Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Placa] [nvarchar](7) NOT NULL,
	[Tipo_Vehiculo] [int] NOT NULL,
	[Marca] [int] NOT NULL,
	[Modelo] [nvarchar](25) NULL,
	[Anio] [smallint] NOT NULL,
	[VIN_chassis] [nvarchar](17) NULL,
	[Propietario] [nvarchar](11) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Persona_Cedula] [nvarchar](11) NULL,
 CONSTRAINT [PK_dbo.Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
GO/*-by michcpaulino@gmail.com-*/
INSERT [dbo].[Agentes] ([Codido_Agente], [Rango], [Contrasenia]) VALUES (N'00300000004', 9, N'abc')
GO
INSERT [dbo].[Agentes] ([Codido_Agente], [Rango], [Contrasenia]) VALUES (N'24025302312', 8, N'MamaTingo')
GO
INSERT [dbo].[Ciudadanos] ([Cedula], [Ocupacion], [suspender], [Conteo]) VALUES (N'00100000001', N'Ingeniero en sistemas', 0, 0)
GO
INSERT [dbo].[Ciudadanos] ([Cedula], [Ocupacion], [suspender], [Conteo]) VALUES (N'00114184468', N'Procurador general', 1, 0)
GO
INSERT [dbo].[Ciudadanos] ([Cedula], [Ocupacion], [suspender], [Conteo]) VALUES (N'00300000003', N'Carpintero', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Infracciones] ON 

GO
INSERT [dbo].[Infracciones] ([InfraccionId], [Tipo_Infraccion], [Leyes], [Monto]) VALUES (1, N'No cruzar por los puentes para peatones', N' Ley 241 art. 101 literal A', 1000)
GO
INSERT [dbo].[Infracciones] ([InfraccionId], [Tipo_Infraccion], [Leyes], [Monto]) VALUES (2, N'Conducir un vehiculo con exceso de pasajero', N' 241 art. 104', 1000)
GO
INSERT [dbo].[Infracciones] ([InfraccionId], [Tipo_Infraccion], [Leyes], [Monto]) VALUES (3, N'Transportar mas de dos pasajero en el asiento delantero', N' 241 art. 105 Literal A', 1000)
GO
SET IDENTITY_INSERT [dbo].[Infracciones] OFF
GO
INSERT [dbo].[Licencias] ([Categoria], [Descripcion]) VALUES (0, N'Carnet de Aprendizaje')
GO
INSERT [dbo].[Licencias] ([Categoria], [Descripcion]) VALUES (1, N'Motocicleta')
GO
INSERT [dbo].[Licencias] ([Categoria], [Descripcion]) VALUES (2, N'Conductor (automoviles-vehiculos de motor)')
GO
SET IDENTITY_INSERT [dbo].[Multas] ON 

GO
INSERT [dbo].[Multas] ([Evento], [Fecha], [Cedula], [Placa], [Tipo_Infraccion], [Descripcion], [Codigo_Agente], [Pagado], [F_Modificacion]) VALUES (1, CAST(N'2017-05-08 02:30:00.000' AS DateTime), N'00100000001', N'A225630', 54, N'Borrachon', N'24025302312', 0, CAST(N'2017-05-08 03:54:14.130' AS DateTime))
GO
INSERT [dbo].[Multas] ([Evento], [Fecha], [Cedula], [Placa], [Tipo_Infraccion], [Descripcion], [Codigo_Agente], [Pagado], [F_Modificacion]) VALUES (2, CAST(N'2017-05-07 17:00:00.000' AS DateTime), N'00114184468', N'A225630', 4, N'Desobediente Civil', N'00300000004', 1, CAST(N'2017-05-08 03:54:14.130' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Multas] OFF
GO
INSERT [dbo].[Personas] ([Cedula], [Nombre], [Apellidos], [Nacimiento], [Genero], [Licencia], [Categoria], [SangreTipo], [Direccion], [Telefono], [Celular], [Email]) VALUES (N'00100000000', N'Carolina', N'Paulino', CAST(N'1960-06-01 00:00:00.000' AS DateTime), 1, 0, 0, N'A-', N'Santo Domingo Borrame', 8090000000, 8090000000, N'caroline@valvoline.us')
GO
INSERT [dbo].[Personas] ([Cedula], [Nombre], [Apellidos], [Nacimiento], [Genero], [Licencia], [Categoria], [SangreTipo], [Direccion], [Telefono], [Celular], [Email]) VALUES (N'00100000001', N'Miguel', N'De La Cruz', CAST(N'1985-11-01 00:00:00.000' AS DateTime), 0, 1, 2, N'A+', N'Santo Domingo Borrame', 8090000000, 8090000000, N'miguel@dominic.do')
GO
INSERT [dbo].[Personas] ([Cedula], [Nombre], [Apellidos], [Nacimiento], [Genero], [Licencia], [Categoria], [SangreTipo], [Direccion], [Telefono], [Celular], [Email]) VALUES (N'00114184468', N'Bienvenido Maximiliano Henrique', N'Gonzalez Ramirez Villatapia de Cardenes', CAST(N'1960-01-14 00:00:00.000' AS DateTime), 0, 1, 1, N'B-', N'Calle La Cienega No. 56, Residencial El Matorral, Apto. A-202, Segundo Piso, Las Cañitas, Santo Domingo Este', 8091234567, 8097654321, N'maximiliano@villatapia.per')
GO
INSERT [dbo].[Relacionados] ([Principal], [Contacto]) VALUES (N'00100000000', N'00100000001')
GO
INSERT [dbo].[Vehiculos] ([Placa], [Tipo_Vehiculo], [Marca], [Modelo], [Anio], [VIN_chassis], [Propietario], [Persona_Cedula]) VALUES (N'A225630', 2, 102, N'Corona', 2000, N'AXCFGHJK12345670Z', N'00100000000', NULL)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Codido_Agente]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Codido_Agente] ON [dbo].[Agentes]
(
	[Codido_Agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Cedula]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cedula] ON [dbo].[Antecedentes]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Codigo_Agente]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Codigo_Agente] ON [dbo].[Antecedentes]
(
	[Codigo_Agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Placa]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Placa] ON [dbo].[Antecedentes]
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Cedula]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cedula] ON [dbo].[Ciudadanos]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Cedula]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cedula] ON [dbo].[Multas]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Codigo_Agente]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Codigo_Agente] ON [dbo].[Multas]
(
	[Codigo_Agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Placa]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Placa] ON [dbo].[Multas]
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tipo_Infraccion]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tipo_Infraccion] ON [dbo].[Multas]
(
	[Tipo_Infraccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_Personas]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Personas] ON [dbo].[Personas]
(
	[Nombre] ASC,
	[Apellidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categoria]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categoria] ON [dbo].[Personas]
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_Relacionados]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Relacionados] ON [dbo].[Relacionados]
(
	[Principal] ASC,
	[Contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Persona_Cedula]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Persona_Cedula] ON [dbo].[RelacionadosPersonas]
(
	[Persona_Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Relacionados_Principal_Relacionados_Contacto]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relacionados_Principal_Relacionados_Contacto] ON [dbo].[RelacionadosPersonas]
(
	[Relacionados_Principal] ASC,
	[Relacionados_Contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Persona_Cedula]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Persona_Cedula] ON [dbo].[Vehiculos]
(
	[Persona_Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Propietario]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Propietario] ON [dbo].[Vehiculos]
(
	[Propietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_VIN_chassis]    Script Date: 5/8/2017 5:46:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VIN_chassis] ON [dbo].[Vehiculos]
(
	[VIN_chassis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Agentes_dbo.Personas_Codido_Agente] FOREIGN KEY([Codido_Agente])
REFERENCES [dbo].[Personas] ([Cedula])
GO
ALTER TABLE [dbo].[Agentes] CHECK CONSTRAINT [FK_dbo.Agentes_dbo.Personas_Codido_Agente]
GO
ALTER TABLE [dbo].[Antecedentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Antecedentes_dbo.Agentes_Codigo_Agente] FOREIGN KEY([Codigo_Agente])
REFERENCES [dbo].[Agentes] ([Codido_Agente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Antecedentes] CHECK CONSTRAINT [FK_dbo.Antecedentes_dbo.Agentes_Codigo_Agente]
GO
ALTER TABLE [dbo].[Antecedentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Antecedentes_dbo.Ciudadanos_Cedula] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Ciudadanos] ([Cedula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Antecedentes] CHECK CONSTRAINT [FK_dbo.Antecedentes_dbo.Ciudadanos_Cedula]
GO
ALTER TABLE [dbo].[Antecedentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Antecedentes_dbo.Personas_Cedula] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Personas] ([Cedula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Antecedentes] CHECK CONSTRAINT [FK_dbo.Antecedentes_dbo.Personas_Cedula]
GO
ALTER TABLE [dbo].[Antecedentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Antecedentes_dbo.Vehiculos_Placa] FOREIGN KEY([Placa])
REFERENCES [dbo].[Vehiculos] ([Placa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Antecedentes] CHECK CONSTRAINT [FK_dbo.Antecedentes_dbo.Vehiculos_Placa]
GO
ALTER TABLE [dbo].[Ciudadanos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ciudadanos_dbo.Personas_Cedula] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Personas] ([Cedula])
GO
ALTER TABLE [dbo].[Ciudadanos] CHECK CONSTRAINT [FK_dbo.Ciudadanos_dbo.Personas_Cedula]
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Multas_dbo.Agentes_Codigo_Agente] FOREIGN KEY([Codigo_Agente])
REFERENCES [dbo].[Agentes] ([Codido_Agente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Multas] CHECK CONSTRAINT [FK_dbo.Multas_dbo.Agentes_Codigo_Agente]
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Multas_dbo.Ciudadanos_Cedula] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Ciudadanos] ([Cedula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Multas] CHECK CONSTRAINT [FK_dbo.Multas_dbo.Ciudadanos_Cedula]
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Multas_dbo.Infracciones_Tipo_Infraccion] FOREIGN KEY([Tipo_Infraccion])
REFERENCES [dbo].[Infracciones] ([InfraccionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Multas] CHECK CONSTRAINT [FK_dbo.Multas_dbo.Infracciones_Tipo_Infraccion]
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Multas_dbo.Vehiculos_Placa] FOREIGN KEY([Placa])
REFERENCES [dbo].[Vehiculos] ([Placa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Multas] CHECK CONSTRAINT [FK_dbo.Multas_dbo.Vehiculos_Placa]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personas_dbo.Licencias_Categoria] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Licencias] ([Categoria])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_dbo.Personas_dbo.Licencias_Categoria]
GO
ALTER TABLE [dbo].[RelacionadosPersonas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RelacionadosPersonas_dbo.Personas_Persona_Cedula] FOREIGN KEY([Persona_Cedula])
REFERENCES [dbo].[Personas] ([Cedula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelacionadosPersonas] CHECK CONSTRAINT [FK_dbo.RelacionadosPersonas_dbo.Personas_Persona_Cedula]
GO
ALTER TABLE [dbo].[RelacionadosPersonas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RelacionadosPersonas_dbo.Relacionados_Relacionados_Principal_Relacionados_Contacto] FOREIGN KEY([Relacionados_Principal], [Relacionados_Contacto])
REFERENCES [dbo].[Relacionados] ([Principal], [Contacto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelacionadosPersonas] CHECK CONSTRAINT [FK_dbo.RelacionadosPersonas_dbo.Relacionados_Relacionados_Principal_Relacionados_Contacto]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculos_dbo.Personas_Persona_Cedula] FOREIGN KEY([Persona_Cedula])
REFERENCES [dbo].[Personas] ([Cedula])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_dbo.Vehiculos_dbo.Personas_Persona_Cedula]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculos_dbo.Personas_Propietario] FOREIGN KEY([Propietario])
REFERENCES [dbo].[Personas] ([Cedula])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_dbo.Vehiculos_dbo.Personas_Propietario]
GO
/****** Object:  Trigger [dbo].[AntecedentesCheck]    Script Date: 5/8/2017 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[AntecedentesCheck] on [dbo].[Multas] for insert, update as begin set nocount on insert into Antecedentes(Cedula, Placa, Evento, Fecha, Tipo_Infraccion, Descripcion, Codigo_Agente, Pagado) SELECT top 1 Cedula, Placa, Evento, Fecha, Tipo_Infraccion, Descripcion, Codigo_Agente, Pagado from Multas order by Evento Desc; delete from Antecedentes where Cedula is null end 
GO
USE [master]
GO
